body{
  font-family: 'OFL Sorts Mill Goudy TT', serif;
  font-size:12pt;
  background-color:#FBFDFE;
  background-image:url('bg2.png');
  background-repeat:repeat-y;
}

quote{
  font-family: 'Gloria Hallelujah', cursive;
  font-size:11pt;
  color:blue;
}
#logo{
  position: absolute;
  top:30px;
  left:15px;
  z-index:100;
}
#lispLogo{
  position: absolute;
  top:50px;
  left:750px;
  z-index:100;
}

#leftBar{
  position: fixed;
  top:0px;
  left:0px;
  width:200px;
}

#leftContent{
  margin-top:210px;
  margin-left:10px;
  margin-right:6px;
  margin-bottom:20px;
  font-family: 'Varela Round', sans-serif;
  font-size:10pt;
}

#topTop{
  position: absolute;
  font-family: 'Varela Round', sans-serif;
  font-weight: bold;
  color:#777777;
  font-size:10pt;
  top:10px;
  left:705px;
}
#mainTop{
  position: absolute;
  top:50px;
  left:330px;
  width:490px;
  height:120px;
  text-align:right;
  /*border:solid 1px black;*/
}

#main{
  position: absolute;
  top:200px;
  left:230px;
  width:600px;
  padding-top:0px;
  padding-bottom:30px;
  text-align: justify;
}
